<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> DinoEat Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--   <ion-header>
    <ion-item>
      <strong>As a User visiting the Home page...</strong>
    </ion-item>
  </ion-header>
  <ion-item> ... I want to see what my roommates have posted - or some public posts</ion-item>
  <ion-item> ... I want to view the upcoming meals for the next three days </ion-item>
  <ion-item> ... I want to be promted to choose meals for the next days </ion-item>
  <ion-item> ... I want to add recipes </ion-item>
  <ion-item> ... I want to see other peoples public recipes </ion-item>
  <ion-item> ... I want to have an overview of food in the pantry </ion-item>
  <ion-item> ... I want to quickly add food to the pantry </ion-item> -->
  <ion-card *ngFor="let recipe of homeStore.recipes$ | async">
    <ion-card-header>
      <ion-card-subtitle>Recipe</ion-card-subtitle>
      <ion-card-title>{{ recipe.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content> {{ recipe.description }} </ion-card-content>
    <ion-item>
      <ion-icon name="fast-food-outline" slot="start"></ion-icon>
      <ion-button color="primary" slot="end"> View </ion-button>
    </ion-item>
  </ion-card>
</ion-content>
